extends /Layout


block content
    link(rel="stylesheet", href= host + "/resources/styles/management.css")
    div(id = "body")
        div(id = "bodyContent")
            div(id = "pic_submission")
                img(src="https://f004.backblazeb2.com/file/abozedbucket/" id = "pic")
                
            div(id = "productDetails")
                p( class = "input" id = "inputTitle") #{name} 
                div(class = "details" id = "details")
                    label(for="" class = "label") TYPE: 
                        p(class = "input" id = "inputType") #{type}
                    label(for="" class = "label") BRAND:
                        p(class = "input" id = "inputBrand") #{brand}
                    label(for="" class = "label") PRICE:
                        p(class = "input" id = "inputPrice") #{price}
                p(class = "inputParagraph" id = "inputInfo") #{description}
                button(type="submit" class = "btn" id = "submission") Order
                button(type="submit" class = "btn" id = "cart") Add to cart
    script(src= host + "/resources/js/getproduct.js")             